<div style="text-align: center;">
    <title>IMDB Top 1000</title>
    <h1>IMDB Top 1000</h1>
</div>

{% if result_count > 0 %}
   <div style="text-align: center;"><h1>{{result_count}} results</h1></div>
   {% endif %}

<th>
    <a href="/home?series_title={{params['series_title']}}&released_year={{params['released_year']}}&runtime={{params['runtime']}}&genre={{params['genre']}}&imdb_rating={{params['imdb_rating']}}&director={{params['director']}}&sort_by=series_title&sort_dir={{get_sort_dir('series_title')}}">Series_Title</a>
    {% if params['sort_by'] == 'series_title' %}
    {% if params['sort_dir'] == 'asc' %}
</th>

{% endif %}
{% endif %}

<body>
    <p></p>
    <div style="text-align: center;">
    <form action="home" method="get">
      <span>Series_Title:</span>
        <input type="text" name=series_title value="{{params['series_title']}}">
      <span>Released_Year:</span>
        <input type="text" name=released_year value="{{params['released_year']}}">
      <span>Runtime:</span>
        <input type="text" name=runtime value="{{params['runtime']}}">
      <span>Genre:</span>
        <input type="text" name=genre value="{{params['genre']}}">
      <span>IMDB_Rating:</span>
        <input type="text" name=imdb_rating value="{{params['imdb_rating']}}">
      <span>Director:</span>
        <input type="text" name=director value="{{params['director']}}">
      <button type="submit">Search</button>
    </form>
    </div>


  