<div style="text-align: center;">
    <title>IMDB Top 1000</title>
    <h1>IMDB Top 1000</h1>

    {% if result_count > 0 %}
        <h1>{{ result_count }} results</h1>
    {% endif %}

    <form action="home" method="get">
        <span>Series_Title:</span>
        <input type="text" name="series_title" value="{{ params['series_title'] }}">
        <span>Released_Year:</span>
        <input type="text" name="released_year" value="{{ params['released_year'] }}">
        <span>Runtime:</span>
        <input type="text" name="runtime" value="{{ params['runtime'] }}">
        <span>Genre:</span>
        <input type="text" name="genre" value="{{ params['genre'] }}">
        <span>IMDB_Rating:</span>
        <input type="text" name="imdb_rating" value="{{ params['imdb_rating'] }}">
        <span>Director:</span>
        <input type="text" name="director" value="{{ params['director'] }}">
        <button type="submit">Search</button>
    </form>

    {% if movie %}
        <table>
            <tr>
                <th>
                    <a href="/home?series_title={{ params['series_title'] }}&released_year={{ params['released_year'] }}&runtime={{ params['runtime'] }}&genre={{ params['genre'] }}&imdb_rating={{ params['imdb_rating'] }}&director={{ params['director'] }}&sort_by=series_title&sort_dir={{ get_sort_dir('series_title') }}">Series_Title</a>
                    {% if params['sort_by'] == 'series_title' %}
                        {% if params['sort_dir'] == 'asc' %}
                            <span>&#8593;</span>
                        {% else %}
                            <span>&#8595;</span>
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="/home?series_title={{ params['series_title'] }}&released_year={{ params['released_year'] }}&runtime={{ params['runtime'] }}&genre={{ params['genre'] }}&imdb_rating={{ params['imdb_rating'] }}&director={{ params['director'] }}&sort_by=released_year&sort_dir={{ get_sort_dir('released_year') }}">Released_Year</a>
                    {% if params['sort_by'] == 'released_year' %}
                        {% if params['sort_dir'] == 'asc' %}
                            <span>&#8593;</span>
                        {% else %}
                            <span>&#8595;</span>
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="/home?series_title={{ params['series_title'] }}&released_year={{ params['released_year'] }}&runtime={{ params['runtime'] }}&genre={{ params['genre'] }}&imdb_rating={{ params['imdb_rating'] }}&director={{ params['director'] }}&sort_by=runtime&sort_dir={{ get_sort_dir('runtime') }}">Runtime</a>
                    {% if params['sort_by'] == 'runtime' %}
                        {% if params['sort_dir'] == 'asc' %}
                            <span>&#8593;</span>
                        {% else %}
                            <span>&#8595;</span>
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="/home?series_title={{ params['series_title'] }}&released_year={{ params['released_year'] }}&runtime={{ params['runtime'] }}&genre={{ params['genre'] }}&imdb_rating={{ params['imdb_rating'] }}&director={{ params['director'] }}&sort_by=genre&sort_dir={{ get_sort_dir('genre') }}">Genre</a>
                    {% if params['sort_by'] == 'genre' %}
                        {% if params['sort_dir'] == 'asc' %}
                            <span>&#8593;</span>
                        {% else %}
                            <span>&#8595;</span>
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="/home?series_title={{ params['series_title'] }}&released_year={{ params['released_year'] }}&runtime={{ params['runtime'] }}&genre={{ params['genre'] }}&imdb_rating={{ params['imdb_rating'] }}&director={{ params['director'] }}&sort_by=imdb_rating&sort_dir={{ get_sort_dir('imdb_rating') }}">IMDB_Rating</a>
                    {% if params['sort_by'] == 'imdb_rating' %}
                        {% if params['sort_dir'] == 'asc' %}
                            <span>&#8593;</span>
                        {% else %}
                            <span>&#8595;</span>
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a href="/home?series_title={{ params['series_title'] }}&released_year={{ params['released_year'] }}&runtime={{ params['runtime'] }}&genre={{ params['genre'] }}&imdb_rating={{ params['imdb_rating'] }}&director={{ params['director'] }}&sort_by=director&sort_dir={{ get_sort_dir('director') }}">Director</a>
                    {% if params['sort_by'] == 'director' %}
                        {% if params['sort_dir'] == 'asc' %}
                            <span>&#8593;</span>
                        {% else %}
                            <span>&#8595;</span>
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
            {% for movie in movie %}
                <tr>
                    <td>{{ movie.series_title }}</td>
                    <td>{{ movie.released_year }}</td>
                    <td>{{ movie.runtime }}</td>
                    <td>{{ movie.genre }}</td>
                    <td>{{ movie.imdb_rating }}</td>
                    <td>{{ movie.director }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
